<table border=1 *ngIf="booklist.length">
  <thead>
    <th>Book ID</th>
    <th>Book Title</th>
    <th>Book Author</th>
    <th>Book Year of Publish</th>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" name="filterById" placeholder="Id" [(ngModel)] = 'queryId'></td>
      <td><input type="text" name="filterByTitle" placeholder="Title" [(ngModel)] = 'queryTitle'></td>
      <td><input type="text" name="filterByAuthor" placeholder="Author" [(ngModel)] = 'queryAuthor'></td>
      <td><input type="text" name="filterByYear" placeholder="Year" [(ngModel)] = 'queryYear'></td>
    </tr>
    <tr *ngFor="let book of booklist |filter: queryId: 'id' | filter: queryTitle: 'title'
                                    | filter: queryAuthor: 'author' | filter: queryYear: 'year'">
      <td>{{book.id}}</td>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.year}}</td>
    </tr>
  </tbody>
</table>